.boxContainer {
  background-color: var(--secondary-color);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.icon {
  font-size: 30px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box1 h4 {
  margin: 0;
}

.badge {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}
.badge1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge1 p {
  margin: 0;
}

.box2 {
  background-color: var(--text-color1);
  border-radius: 6px;
  padding: 10px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box2 .highlight {
  background-color: var(--primaryLight-color);
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  text-align: start;
}

.features {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px;
  margin: 0 30px;
}

.feature .icon {
  font-size: 24px;
  color: var(--primary-color);
}

.heading {
  font-weight: 700;
}

.icon p {
  font-size: 18px;
}
.iconBox {
  background-color: var(--primaryLight-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.iconLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.linkicon {
  margin-top: -4px;
  color: var(--primary-color);
}

.box3container {
  background-color: var(--secondary-color);
}

.box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box3 h4 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
}

.box3 p {
  font-size: 18px;
  color: var(--text-color2);
}

.lastcontainer {
  background-color: var(--primary-color);
  color: var(--text-color1);
}

.lastcontainer h1 {
  color: var(--text-color1);
}

.btnPrimary {
  color: var(--primary-color);
  background-color: var(--text-color1);
}

.btnSecondary {
  color: var(--text-color1);
  border: 1px solid var(--text-color1);
}
