* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --primary-color: #6d00ff;
  --primaryLight-color: #6f00ff26;
  --secondary-color: #eaeaea;
  --text-color1: #ffffff;
  --text-color2: #121212;
}
